{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="text-center mt-2 mb-2">Choisissez le compte à conserver</h2>
        <form action="/delete-compte " method="post" >
        <div class="row">
            {% set i = 1  %}
    {% for user in users %}
        <div class="col-6">
            <div class="card shadow mt-4">
                <div class="card-body">
                    <input style="position: absolute;right: 10px;top: 10px;width: 18px;height: 18px;" type="checkbox" name="delete[]" value="{{ user.pkGgmContact }}" class="form-check-input" id="exampleCheck1">
                    <h4 class="text-center mb-3">votre compte n° {{ i }}</h4>
                    {% set i = i + 1 %}
                    {% if user.valide == 'N' %}
                        <div style="background-color: red" class="alert alert-danger" role="alert">
                            Compte non validé, crée le {{ user.subDate|date("m/d/Y") }}
                        </div>
                    {% else %}
                        <div class="alert alert-success" role="alert">
                            Compte crée le {{ user.subDate|date("m/d/Y") }} et validé le {{ user.valideLe|date("m/d/Y") }}
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-6">
                            <div class="card-text"><span class="font-weight-bold">Prenom : </span> {{ user.prenom }}</div>
                            <div class="card-text"><span class="font-weight-bold">Nom: </span>{{ user.nom }}</div>
                            <div class="card-text"><span class="font-weight-bold">Adresse mail :</span> {{ user.email }}</div>
                            <div class="card-text"><span class="font-weight-bold">Téléphone :</span> {{ user.telephone }}</div>
                            <div class="card-text"><span class="font-weight-bold">Mobile :</span> {{ user.gsm }}</div>
                            <div class="card-text"><span class="font-weight-bold">Société: </span>{{ user.societe }}</div>
                        </div>
                        <div class="col-6">
                            <div class="card-text"><span class="font-weight-bold">Type societe: </span>{{ user.typeSociete }}</div>
                            <div class="card-text"><span class="font-weight-bold">Fonction: </span>{{ user.fonction }}</div>
                            <div class="card-text"><span class="font-weight-bold">Pays: </span>{{ user.pays }}</div>
                            <div class="card-text"><span class="font-weight-bold">Code postal: </span>{{ user.cp }}</div>
                            <div class="card-text"><span class="font-weight-bold">Ville: </span>{{ user.ville }}</div>
                        </div>
                    </div>
                </div>

                    {% for contact in contacts %}
                        {% if contact.pkContact == user.fkContact %}
                            <hr>
                <div class="card-body">
                    <h4 class="text-center mb-2">CRM</h4>
                        <div class="alert alert-success" role="alert">
                            Compte integré au CRM
                        </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="card-text"><span class="font-weight-bold">Prenom : </span> {{ contact.prenomContact }}</div>
                            <div class="card-text"><span class="font-weight-bold">Nom: </span>{{ contact.nomContact }}</div>
                            <div class="card-text"><span class="font-weight-bold">Adresse mail :</span> {{ contact.mailContact }}</div>
                            <div class="card-text"><span class="font-weight-bold">Téléphone :</span> {{ contact.telContact}}</div>
                            <div class="card-text"><span class="font-weight-bold">Mobile :</span> {{ contact.mobileContact}}</div>
                            <div class="card-text"><span class="font-weight-bold">Société: </span>{{ user.societe }}</div>
                        </div>
                        <div class="col-6">
                            <div class="card-text"><span class="font-weight-bold">Type societe: </span>{{ user.typeSociete }}</div>
                            <div class="card-text"><span class="font-weight-bold">Fonction: </span>{{ contact.fonction }}</div>
                            <div class="card-text"><span class="font-weight-bold">Pays: </span>{{ contact.pays }}</div>
                            <div class="card-text"><span class="font-weight-bold">Ville: </span>{{ contact.ville }}</div>
                            <div class="card-text"><span class="font-weight-bold">Adresse: </span>{{ contact.adr }}</div>
                        </div>
                    </div>
                </div>
                        {%  endif %}
                    {% endfor %}

                <hr>
                <div class="card-body">
                    <h4 class="text-center mb-2">vos favoris</h4>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    {% else %}
        <tr>
            <td colspan="4">Pas de compte</td>
        </tr>
    {% endfor %}
            <div class="col-12 text-center mt-4">
                <button class="btn btn-danger">Valider</button>
            </div>

        </div>
        </form>
        </div>

{% endblock %}
