{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">

<form method="post">


    <h1 class="h3 mb-3 font-weight-normal mt-3 text-center">Connectez-vous !</h1>

    {# this check prevents starting a session when there are no flash messages #}
    {% if app.request.hasPreviousSession %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}


    {% if error %}
        <div class="alert alert-danger mt-3">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous étes connecté avec l'adresse : {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}

    <label for="inputEmail">Adresse mail</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me" checked>Se souvenir de moi
            </label>
        </div>
<div class="text-center">
    <button class="btn btn-success" type="submit">
        Connexion
    </button>
    <br>
    <a class="btn btn-primary mt-1" href="{{ path('request_resetting') }}">Mot de passe oublié</a>
    <br>
    <a class="btn btn-secondary mt-1" href="{{ path('app_register') }}">S'inscrire</a>
</div>

</form>
    </div>
{% endblock %}
