{% extends 'base.html.twig' %}

{% block title %}Resetting{% endblock %}

{% block body %}
    {# resetting/request.html.twig #}
<div class="container">
    <h1 class="h3 mb-3 font-weight-normal mt-3 text-center">Mot de passe oublié ?</h1>

    {# this check prevents starting a session when there are no flash messages #}
    {% if app.request.hasPreviousSession %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <p>Demandez à réinitialiser votre mot de passe en renseignant vos informations.</p>

    {{form_start(form)}}
    <div class="row">
        <div class="col-6">
            {{form_row(form.prenom)}}
        </div>
        <div class="col-6">
            {{form_row(form.nom)}}
        </div>
        <div class="col-12">
            {{form_row(form.email)}}
        </div>
    </div>

    <div class="text-center">
        <button class="btn btn-success mt-3"  type="submit">Envoyer</button>
    </div>

    {{form_end(form)}}

</div>
{% endblock %}
